{% extends '@layout/default.html.twig' %}

{% block title %}MapFile{% endblock %}

{% block content %}

<h1>MapFile</h1>
<hr>

{% apply spaceless %}
<pre class="bg-light" style="padding: 15px;">
    <code>{{ mapfile }}</code>
</pre>
{% endapply %}

{% endblock %}