{% extends '@layout/default.html.twig' %}

{% block title %}Load your MapFile{% endblock %}

{% block content %}

<h1>Load your MapFile</h1>
<hr>

<p>
    The application will parse your MapFile to allow you to modify it.<br>
    <br>
    The <a href="https://github.com/jbelien/MapFile-PHP-Library" target="_blank"><em>MapFile PHP Library</em></a> used
    to parse your file supports <a href="https://mapserver.org/mapfile/" target="_blank">MapServer 7.2 configuration</a>.
    If your MapFile is written for a previous version of MapServer, some parameters could be deprecated.<br>
    You can comment (with <kbd>#</kbd>) or fix the deprecated parameter.<br>
    You can also <a href="https://github.com/jbelien/MapFile-PHP-Library/issues" target="_blank">contact me</a> to add
    support for deprecated (or unsupported) parameters.
</p>
<hr>

<form method="POST" action="{{ path('open') }}" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="file" class="form-control-file" id="open-mapfile" name="mapfile" accept=".map" required>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-file-upload"></i>
                Upload
            </button>
        </div>
    </div>
</form>
<hr>

{% if error is defined %}
<div class="alert alert-warning">
    {{ error }}
</div>
{% endif %}

{% endblock %}
